name: Mango Debug Build

on:
  workflow_dispatch:
    inputs:
      app_name:
        default: 'MangoApp'
      package_name:
        default: 'com.mango.app'
      web_url:
        default: 'none'
      splash_time:
        default: '3000'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Debug APK
        # Aapka gradlew android folder mein hai, isliye ye line lazmi hai
        working-directory: ./android
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload Final APK
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.app_name }}-Debug-APK
          # APK ka sahi path jahan Gradle file generate karta hai
          path: android/app/build/outputs/apk/debug/*.apk
